.userRequest,
.userAuthenticatedRequests,
.postRequests {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

section div {
  border: 1px solid grey;
  padding: 20px;
  margin: 20px 0;
}

header {
  text-align: center;
  padding: 20px;
}

h1,
h2,
h3,
form {
  margin: 0;
}

form {
  padding: 20px 0;
}

fieldset {
  padding: 20px;
}


